#contador{
display:block;
text-align:center;
font-family:Helvetica;
font-size:10em;
}

#container{
text-align:center;
}
.buttons{
 padding:10px 20px;
 font-size:1.5em;
 color:red;
 background-color: rgb(34, 34, 141);
 cursor:pointer;
 transition:background-color 0.25;
 border-radius: 5px;
}
.buttons::houver{
    background-color: rgb(10, 10, 37);



}
body {
      margin: 0;
      font-family: Arial, sans-serif;
    }

    nav {
      background-color: #333;
    }

    ul.menu {
      list-style: none;
      margin: 0;
      padding: 0;
      display: flex;
    }

    ul.menu > li {
      position: relative;
    }

    ul.menu > li > a {
      display: block;
      padding: 15px 20px;
      color: white;
      text-decoration: none;
    }

    ul.menu > li:hover {
      background-color: #444;
    }

    /* Submenu */
    ul.submenu {
      position: absolute;
      top: 100%;
      left: 0;
      background-color: #444;
      display: none;
      list-style: none;
      padding: 0;
      margin: 0;
      min-width: 150px;
    }

    ul.submenu li a {
      display: block;
      padding: 10px;
      color: white;
      text-decoration: none;
    }

    ul.submenu li:hover {
      background-color: #555;
    }

    /* Mostrar submenu ao passar o mouse */
    ul.menu li:hover ul.submenu {
      display: block;
    }