#contador{
display:block;
text-align:center;
font-family:Helvetica;
font-size:10em;
}

#container{
text-align:center;
}
.buttons{
 padding:10px 20px;
 font-size:1.5em;
 color:red;
 background-color: rgb(34, 34, 141);
 cursor:pointer;
 transition:background-color 0.25;
 border-radius: 5px;
}
.buttons::houver{
    background-color: rgb(10, 10, 37);



}






